.TodoList {
  display: flex;
  flex-direction: column;
  height: 100%;

  .Items {
    flex: 1;
    overflow: auto;
    padding: 0.25rem;

    .Item {
      position: relative;

      .DragShadow {
        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        pointer-events: none;

        background-color: #00F7;
      }
    }
  }
}