.TodoItem {
  display: flex;
  align-items: center;
  gap: 0.25em;
  padding: 0.25rem;

  &.Done {
    color: #aaa;
  }

  &.CanDrop {
    background-color: #ccc;
  }

  .Content {
    flex: 1;
  }

  .Toolbar {
    visibility: hidden;

    &.Hover {
      visibility: visible;
    }
  }

  &:hover {
    background-color: #f7f7f7;
  }
}